<% @page_heading = _('New article') %>

<%= render "admin/shared/edit", { :form_type => "article", :form_action => { :action => "new", :id => @article.id , :class => ('autosave')} } %>
<p>
Merge Articles
</p>
      <input id='merge_with' type="text" value="" name='merge_with' class='btn info' />
